html, body {
    min-height: 100vh;
    background-image: linear-gradient(to bottom right, #6092f6, #a147a1);

}

* {
    font-family: monospace;
}

.header {
    /*background: darkmagenta;*/
    display: flex;
    flex-direction: column;
    /*background-image: linear-gradient(to bottom right, #305170, #6DFC6B);*/
    gap: 10px;
    text-align: center;
    margin: 0;

}


.left_side {
    display: flex;
    flex-direction: column;
}

.main_container {
    display: flex;
    padding: 30px;
}


.choices_x {
    display: flex;
    flex-direction: row;
    gap: 10px;

}


.x {

    display: flex;
    align-items: center;

}

.y {
    display: flex;
    flex-direction: row;
    gap: 110px;
}
.input_y #name{
margin-top: 10px;
}

#name {
    width: 50px;
}


.r {
    display: flex;
    align-items: center;
    gap: 110px;
}

.buttons {
    display: flex;
    gap: 10px;
}

.photo {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 10px;
}

.centered_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
button {
    padding: 0.2em;
    width: 4em;
    border-radius: 10px;
    transition: 0.5s all;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    z-index: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

button:before {
    content: "";
    background: linear-gradient(
            45deg,
            #00b2ff,
            #dad915,
            #42ff10,
            #00ffd5
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

@keyframes glowing-button-85 {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 200% 0;
    }
    100% {
        background-position: 0 0;
    }
}

button:active {
    transform: translateY(4px);
    /* Moving button 4px to y-axis */
}

input:checked {
    background: #00ffd5;
    border: none;
    outline: 2px solid #c414ff;
}

input:checked + label {
    color: #ee00ff;
}

.choices_x .round {
    position: relative;
}

.ass {
    display: flex;
    gap: 10px;

}



 th,  td {
    padding: 4px 20px;
    border: 1px solid;
    background: rgba(255, 255, 255, 0.3);
    margin: 0;
}
.table_result {
    max-height: 300px;
    overflow: auto;
}
table, th, td {
    border-spacing: 0; /* Removes the cell spacing via CSS */
    border-collapse: collapse;

}

input[inputmode="numeric"]:invalid {
    background-color: ivory;
    border: none;
    outline: 2px solid red;

}
.field{
    transform: scale(0.7);
}
#button_send{
  margin-top: 10px;
    margin-left: 115px;
}
#clearing{
  margin-left: 200px;
    margin-top: -19.5px;
}