
.header {
    /*background: darkmagenta;*/
    display: flex;
    flex-direction: column;
    background-color: darkmagenta;
    gap: 10px;
    height: 70px;
    width: 500px;
    padding: 5px;
    text-align: center;
}

.left_side {

    display: flex;
    flex-direction: column;
    margin-right: 200px;
    padding: 50px;
}

.right_side {
}
.main_container{
    display: flex;
    gap: 150px;
    background-color: darkmagenta;
    padding: 5px;

}


.choices_x {
    display: flex;
    flex-direction: row;
    gap: 10px;

}




.x {

    display: flex;
    align-items: center;

}

.y {
    display: flex;
    gap: 105px;
    flex-direction: row;
}
#name{
    width: 50px;

    margin: 9px;
}



.z {
    display: flex;
    align-items: center;
    gap: 110px;
}

.buttons {
    display: flex;
    gap: 10px;
}

.photo {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 10px;
}

.centered_container {
    gap: 50px;
    display: flex;
    flex-direction: column;
    height: 950px;
    background-color: darkslateblue;
    align-items: center;
}

