
.header {
    /*background: darkmagenta;*/
    display: flex;
    flex-direction: column;
    background-color: darkmagenta;
    gap: 10px;
    height: 70px;
    width: 500px;
    padding: 5px;
    text-align: center;
}

.left_side {

    display: flex;
    flex-direction: column;
    margin-right: 200px;
    padding: 50px;
}

.right_side {
}

.main_container {
    display: flex;
    gap: 150px;
    background-color: darkmagenta;
    padding: 5px;

}


.choices_x {
    display: flex;
    flex-direction: row;
    gap: 10px;

}


.x {

    display: flex;
    align-items: center;

}

.y {
    display: flex;
    gap: 105px;
    flex-direction: row;
}

#name {
    width: 50px;

    margin: 9px;
}


.r {
    display: flex;
    align-items: center;
    gap: 110px;
}

.buttons {
    display: flex;
    gap: 10px;
}

.photo {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 10px;
}

.centered_container {
    gap: 50px;
    display: flex;
    flex-direction: column;
    height: 950px;
    background-color: darkslateblue;
    align-items: center;
}

.table_result {
    background: #d000ff;
    width: 350px;
}

#results {

    width: 350px;
}

button.b {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

button.b:before {
    content: "";
    background: linear-gradient(
            45deg,
            #ff9100,
            #005eff,
            #fffb00,
            #48ff00,
            #00ffd5,
            #002bff,
            #7a00ff,
            #ff00c8,
            #ee00ff
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

@keyframes glowing-button-85 {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

button.b:active {
    transform: translateY(4px);
    /* Moving button 4px to y-axis */
}

input:checked {
    background: #00ffd5;
    border: none;
    outline: 2px solid #c414ff;
}
input:checked + label {
    color: #ee00ff;
}
.choices_x .round {
    position: relative;
}
.ass{
    display: flex;
}
.table_result{

    max-height: 150px;
    overflow: auto;
}


