
.header{
    background: darkmagenta;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 70px;
    width: 500px;
    padding: 5px;
    text-align: center;
}

.input {
    background-color: darkmagenta;
    display: flex;
    height: 600px;
    width: 1200px;
    flex-direction: column;
    gap: 70px;
}

.y {
    width: 70px;
}

.choices_x {
    display: flex;
    flex-direction: row;
    gap: 10px;

}

.header_x {
    justify-content: center;
    display: flex;
}
.header_y {
    justify-content: center;
    display: flex;
}


.x {
    gap: 3px;
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;

}

.y {
    display: flex;
    flex-direction: column;
    width: 50px;
    height: 50px;
}

.header_z {
    justify-content: left;
    display: flex;

}

.z {
    display: flex;
    flex-direction: column;
    width: 50px;
    height: 50px;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.photo{
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 10px;
}
.centered_container {
    gap: 50px;
    display: flex;
    flex-direction: column;
    height: 950px;
    background-color: darkslateblue;
    align-items: center;
}

